*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

body {
    background:white;
}


.my-Nike {
    font-size: 100px;
    margin-left:2em;
    font-weight: bold;
}

#shoe-img {
    margin-left:13em;
    margin-top: 5em;
    width: 50em;
}

.my-purchase {
    font-size: 100px;
    margin-left:2em;
    border: 3px solid black;
    border-radius:1em;
    text-align: center;
    width: 7em;
    font-weight: bold;
}
